/*mvc validation styles*/

.field-validation-error
{
    background-color: indianred;
    font-size: 14pt;
    width: 100%;
    display: block;
    padding: 3px;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    background-color: indianred;
}

.validation-summary-errors
{
    background-color: indianred;
    font-size: 14pt;
}

.validation-summary-valid
{
    display: none;
}