@{
    ViewBag.Title = "D2D Quest: Информация";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

@section links {
    <p>
        @Html.ActionLink("Готов отправится на поиски?", "Registration", "Registration")
    </p>
    <p>
        @Html.ActionLink("Хочешь попытать счастье уже сейчас?", "Raffle", "Raffle")    
    </p>
}

<p>
    Конференция - это не просто море знаний и общения, но еще и веселье. Специально для тебя мы
    подготовили занятный квест, а чтобы было интересней мы приготовили призы.
</p>
<p>
    Хочешь включиться в игру? Тогда слушай правила. Докладчики замаскировали на слайдах секретные слова,
    помеченные вот так - [<img alt="четыре квадратика" height="15" width="15" src="~/Content/IMG/marker.png">], еще больше секретных
    слов спрятано в укромных местах здания. Несколько слов есть у организаторов и они готовы дать их тебе, если
    ты активен. К примеру, задаешь интересные вопросы.
</p>
<p>
    Отлично. Теперь ты знаешь где найти секретные слова. Но что с ними делать? Их нужно регистрировать вот @Html.ActionLink("тут", "Registration", "Registration").
    Код указан на бейдже, примерно такой - [X1A5]. Вводишь в первое поле код, во второе - слово и все готово. Каждая регистрация дает тебе +1 шанс
    на победу. В самом конце конференции великий случайный случай изберет победителей, тех самых что заберут домой призы.
</p>
<img alt="Да, именно iPad AIR 2" src="~/Content/IMG/prize.png">
<p>
    Призы? Да, у нас куча замечательных призов.
</p>
<ul>
    <li>Планшет iPad.</li>
    <li>Курс обучения английскому языку с профессиональным преподавателем.</li>
    <li>Две лицензии от JetBrains на ReSharper.</li>
    <li>Две открытых лицензии от JetBrains на любой несерверный продукт.</li>
</ul>
<div class="warning">
    Внимание! В розыгрыше призов будут участвовать только те, кто будет в зале на момент вручения призов.
</div>
